<% include _header %>

<div class="jumbotron text-center" style="max-width: 80%; margin: auto">
  <h4>Incoming requests to trade with you:<br><br></h4>
  <% inTrades.forEach(function(trade) { %>
    <div  class="flex-trade-group">
      <div class="flex-trade-item">
        <p style="margin:auto"><%=trade.initiator%> wants your</p>
      </div>
      <div class="flex-trade-item">
        <img class="card-image" style="margin:auto" alt="image result" src="<%=trade.rCardImg%>">
      </div>
      <div class="flex-trade-item">
        <p style="margin:auto"> for </p>
      </div>
      <div class="flex-trade-item">
        <img class="card-image" style="margin:auto" alt="image result" src="<%=trade.iCardImg%>">
      </div>
      <div class="flex-trade-item">
        <button id="accept_<%=trade._id%>" style="margin:auto" type="button" class = "btn btn-primary btn-sm">Accept</button>
        <button id="decline_<%=trade._id%>" style="margin:auto" type="button" class = "btn btn-primary btn-sm">Decline</button>
      </div>
    </div>
  
  <% }) %>
  
  
</div>

<script>  
  
<% inTrades.forEach(function(trade) { %>
  $("#accept_<%=trade._id%>").click(function() {
    var theTrade = <%-JSON.stringify(trade)%>;    
    $.post("/tradeAccept", {trade_id: theTrade._id}, function() {
      window.alert("Trade accepted!");
      window.location.href = "/profile/<%=trade.recipient%>";      
    }); 
  });
  $("#decline_<%=trade._id%>").click(function() {
    var theTrade = <%-JSON.stringify(trade)%>;    
    $.post("/tradeDecline", {trade_id: theTrade._id}, function() {
      window.alert("Trade declined");
      window.location.href = "/profile/<%=trade.recipient%>";      
    }); 
  });
<% }) %>
  
</script>

</body>
</html>